@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Titillium Web", sans-serif;
}
.logo {
  font-family: "Genos", sans-serif !important;
  font-weight: 200 !important;
}
.btn-primary {
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
}
.nav a:hover{
color: rgb(255, 0, 0);
}